# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

code/

de2-115/

CHAMP_Project/\.DS_Store

CHAMP_Project/\._\.DS_Store

CHAMP_Project/test_accel2/

*.bak

CHAMP_Project/unused_sources/

*.aux

*.log

*.gz

*.toc

Documents/~\$g\.xlsx
